{% if teams|filter(team => team.tournamentLevel == filter) is not empty %}
    <div class="my-5">
        <h2>{{ title }}</h2>
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead>
                <tr>
                    <th></th>
                    <th>Team</th>
                    <th class="text-center">Country</th>
                    <th class="text-center">Captain</th>
                    <th class="text-center">Players</th>
                </tr>
                </thead>
                {% for team in teams|filter(team => team.tournamentLevel == filter) %}
                    <tr>
                        <td>
                            <div class="myFlag text-center">
                                {{ team.getFlag|raw }}
                            </div>
                        </td>
                        <td>
                            {{ team.teamname }}
                        </td>
                        <td class="text-center">
                            {{ team.country }}
                        </td>
                        <td class="text-center">
                            {{ team.captainname }}
                        </td>
                        <td class="text-center">
                            {{ team.players|length }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}