{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ORGANIZER') %}
<div class="card mb-5">
    <div class="card-body">

        <h3 class="card-text">Organizer</h3>
        <div class="mb-5">
            {{ form_start(teamOrganizerForm) }}
            {{ form_widget(teamOrganizerForm) }}
            <button class="btn btn-primary">Update</button>
            {{ form_end(teamOrganizerForm) }}
        </div>

        <form method="post" action="{{ path('app_team_delete', {'id': team.id}) }}"
              onsubmit="return confirm('Are you sure you want to delete {{ team.teamname }}?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
            <button class="btn btn-danger">Delete {{ team.teamname }}</button>
        </form>

    </div>
</div>
    {% endif %}

    <div class="card mb-5">
        <div class="card-body">
            <h3 class="card-text">Team</h3>
            {{ form_start(teamUpdateForm) }}
            {{ form_widget(teamUpdateForm) }}
            <button class="btn btn-primary">Update</button>
            {{ form_end(teamUpdateForm) }}
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-body">
            <h3 class="card-text">Password</h3>
            {{ form_start(newPasswordForm) }}
            {{ form_widget(newPasswordForm) }}
            <button class="btn btn-primary">Change Password</button>
            {{ form_end(newPasswordForm) }}
        </div>
    </div>
    {% if is_granted("ROLE_ORGANIZER") %}
        <a href="{{ path('app_teams_orga') }}">Back to the Orga-List</a>
    {% endif %}
{% endblock %}
