{% extends '../base.html.twig' %}

{% block title %}Team index{% endblock %}

{% block body %}
    <h1>Team index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>TournamentLevel</th>
                <th>Paid</th>
                <th>Email</th>
                <th>AdditionalEmails</th>
                <th>IsVerified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.teamname }}</td>
                <td>{{ team.country }}</td>
                <td>{{ team.tournamentLevel }}</td>
                <td>{{ team.paid ? '<i class="bi bi-check-circle-fill">' : '<i class="bi bi-x-circle">' }}</td>
                <td>{{ team.email }}</td>
                <td>{{ team.additionalEmails ? team.additionalEmails|join('<br>') : '' }}</td>
                <td>{{ team.isVerified ? '<i class="bi bi-check-circle-fill">' : '<i class="bi bi-x-circle">' }}</td>
                <td>
                    <a href="{{ path('app_crud_team_edit', {'id': team.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
