{% block body %}
    <h1>{{ team.teamname }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Teamname</th>
                <td>{{ team.teamname }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ team.country }}</td>
            </tr>
            <tr>
                <th>Tournament Level</th>
                <td>{{ team.tournamentLevel }}</td>
            </tr>
            <tr>
                <th>Payed</th>
                <td>{{ team.paid ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ team.email }}</td>
            </tr>
            <tr>
                <th>Additional Emails</th>
                <td>{{ team.additionalEmails ? team.additionalEmails|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Email Verified</th>
                <td>{{ team.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_crud_team_edit', {'id': team.id}) }}">edit</a>

{% endblock %}
