{% extends 'base.html.twig' %}

{% block title %}My Team{% endblock %}

{% block body %}
    <h1>Team Roster</h1>
    <h2>{{ team.teamname }}</h2>
    {% if team.players is not empty %}
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Captain</th>
                    <th>Name</th>
                    <th class="text-center">Remove</th>
                </tr>
                </thead>
                {% for player in team.players %}
                    <tr>
                        <td class="text-center">
                            {{ player.id }}
                        </td>
                        <td class="text-center">
                            {% if player.captain %}
                                <i class="bi bi-flag-fill"></i>
                            {% endif %}
                        </td>
                        <td>
                            {{ player.givenName }} {{ player.familyName }}
                        </td>
                        <td class="text-center">
                            {{ form_start(removePlayerForm, {
                                'action': path('app_remove_player', {'playerId': player.id}),
                                'method': 'DELETE',
                                'attr': { 'onsubmit': "return confirm('Remove " ~ player.givenName  ~ "?');"}
                            }) }}
                                <button type="submit" class="btn"><i class="bi bi-x-circle"></i></button>
                            {{ form_end(removePlayerForm) }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    <div>
        {{ form_start(addPlayerForm) }}

        {{ form_row(addPlayerForm.givenName) }}
        {{ form_row(addPlayerForm.familyName) }}
        {{ form_row(addPlayerForm.captain) }}
        <button type="submit" class="btn btn-primary"><i class="bi bi-person-plus-fill"></i> Add Player</button>
        {{ form_end(addPlayerForm) }}
    </div>

    <div>

        <h1>Opponents</h1>
        {% for opponent in teams|filter(opponent => team.tournamentLevel == opponent.tournamentLevel) %}
            <div class="card container-fluid md-3">
            <h3>{{ opponent.teamname }}</h3>
            {% for player in opponent.getPlayers %}
                <p>
                    {{ player.givenName }} {{ player.familyName }}
                    {% if player.captain %}
                        <i class="bi bi-flag-fill"></i>
                    {% endif %}
                </p>
            {% endfor %}
            </div>
        {% endfor %}
        <h1>Other Teams</h1>
        {% for opponent in teams|filter(opponent => team.tournamentLevel != opponent.tournamentLevel) %}
            <div class="card container-fluid md-3">
                <h3>{{ opponent.teamname }}</h3>
                {% for player in opponent.getPlayers %}
                    <p>
                        {{ player.givenName }}
                    </p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
