{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="{{ path('app_home') }}">EUHC</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Infos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_teams') }}">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_teamcenter') }}">Teamcenter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        {% if is_granted('ROLE_USER') %}
                            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                        {% else %}
                            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}