{% block navbar %}
    {% set route_name = app.request.attributes.get('_route') %}

    <img  style="width: 100%;" src="{{ asset("assets/e_short.jpg") }}" class="img-fluid" alt="header image of unicycle hockey">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-0">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img src="{{ asset('assets/logo-invert-removebg-cropped.png') }}" height="40"  class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == "app_home" %}active text-primary text-uppercase{% endif %}"
                                {% if route_name == "app_home" %} aria-current="page" {% endif %}
                           href="{{ path('app_home') }}">Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == "app_register" %}active text-primary text-uppercase{% endif %}"
                                {% if route_name == "app_register" %} aria-current="page" {% endif %}
                           href="{{ path('app_register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == "app_teams" %}active text-primary text-uppercase{% endif %}"
                                {% if route_name == "app_teams" %} aria-current="page" {% endif %}
                           href="{{ path('app_teams') }}">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == "app_team_my" %}active text-primary text-uppercase{% endif %}"
                                {% if route_name == "app_team_my" %} aria-current="page" {% endif %}
                           href="{{ path('app_team_my') }}">
                            {% if is_granted('ROLE_TEAM') %}
                            {{ app.user.userIdentifier }}
                            {% else %}
                                My Team
                            {% endif %}
                        </a>
                    </li>
                    {% if is_granted('ROLE_ORGANIZER') %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary {% if route_name == "app_orga_teams" %}active text-primary text-uppercase{% endif %}"
                                    {% if route_name == "app_orga_teams" %} aria-current="page" {% endif %}
                               href="{{ path('app_orga_teams') }}">Edit Teams</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="d-flex mb-2 mb-lg-0">
                        <a class="btn btn-sm btn-primary py-1 px-2"
                           href="{{ is_granted('ROLE_USER') ? path('app_logout') : path('app_login') }}">
                            {% if is_granted('ROLE_USER') %}
                                Logout
                            {% else %}
                                <i class='bi bi-box-arrow-right'></i> Login
                            {% endif %}
                        </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="mb-3 mb-lg-5"></div>
{% endblock %}