{% block navbar %}
    {% set route_name = app.request.attributes.get('_route') %}


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_home') }}">EUHC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == "app_home" %}active text-primary text-uppercase{% endif %}"
                                {% if route_name == "app_home" %} aria-current="page" {% endif %}
                           href="{{ path('app_home') }}">Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == "app_register" %}active text-primary text-uppercase{% endif %}"
                                {% if route_name == "app_register" %} aria-current="page" {% endif %}
                           href="{{ path('app_register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == "app_teams" %}active text-primary text-uppercase{% endif %}"
                                {% if route_name == "app_teams" %} aria-current="page" {% endif %}
                           href="{{ path('app_teams') }}">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == "app_team_my" %}active text-primary text-uppercase{% endif %}"
                                {% if route_name == "app_team_my" %} aria-current="page" {% endif %}
                           href="{{ path('app_team_my') }}">My Team</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-secondary {% if route_name == "app_team_my" %}active text-primary text-uppercase{% endif %}"
                                    {% if route_name == "app_team_my" %} aria-current="page" {% endif %}
                               href="{{ path('app_orga_teams') }}">Edit Teams</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="d-flex">
                    {% if is_granted('ROLE_USER') %}
                        <a class="btn btn-primary me-2" href="{{ path('app_logout') }}">
                            <i class="bi box-arrow-left"></i>
                            Logout
                        </a>
                    {% else %}
                        <a class="btn btn-primary me-2" href="{{ path('app_login') }}">
                            <i class="bi bi-box-arrow-in-right"></i>
                            Login
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <div style="margin-bottom: 60px"></div>
{% endblock %}